Repository GregTechCE/GregTech, pull requests merged in 2021-04, with the labels that each got.

#1519 Fluid Tooltips
  src/main/java/gregtech/api/gui/widgets/TankWidget.java
  src/main/java/gregtech/api/unification/material/Materials.java
  src/main/java/gregtech/api/util/FluidTooltipUtil.java
  src/main/java/gregtech/common/ClientProxy.java
  src/main/java/gregtech/common/MetaFluids.java
  src/main/java/gregtech/common/asm/GTCETransformer.java
  src/main/java/gregtech/common/asm/JEIVisitor.java
  src/main/java/gregtech/common/metatileentities/storage/MetaTileEntityTank.java
  src/main/java/gregtech/integration/jei/utils/JEIHooks.java
Labels: integration: JEI, rsr: revision, status: accepted, type: feature

#1522 Partial overclocking
  src/main/java/gregtech/api/capability/impl/AbstractRecipeLogic.java
  src/main/java/gregtech/api/metatileentity/SimpleMachineMetaTileEntity.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityMacerator.java
  src/main/resources/assets/gregtech/lang/en_us.lang
Labels: rsr: minor, status: accepted, subsystem: gui, type: feature

#1531 Fix chests rendering invisibly in some cases
  src/main/java/gregtech/api/metatileentity/MetaTileEntityHolder.java
  src/main/java/gregtech/api/render/MetaTileEntityTESR.java
Labels: rsr: minor, status: accepted, subsystem: render, type: bug

#1537 Give Lossless Cables Loss as Wires (with Config)
  src/main/java/gregtech/common/ConfigHolder.java
  src/main/java/gregtech/common/pipelike/cable/Insulation.java
Labels: rsr: revision, status: accepted, type: feature

#1550 Add Zoom Functionality to Multiblock Previews
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoPage.java
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoRecipeWrapper.java
  src/main/java/gregtech/integration/jei/multiblock/infos/DistillationTowerInfo.java
Labels: integration: JEI, rsr: revision, status: accepted, type: feature

#1552 Fix NPE when something proxies a fluid pipe, e.g. a compact machine
  src/main/java/gregtech/common/pipelike/fluidpipe/BlockFluidPipe.java
Labels: rsr: revision, status: accepted, type: bug

#1556 Fix TE bottom side texture being rotated.
  src/main/java/gregtech/api/render/Textures.java
  src/main/java/gregtech/api/render/UVMirror.java
Labels: rsr: revision, status: accepted, subsystem: render, type: bug

#1513 Distribute Ticks More Evenly
  src/main/java/gregtech/api/capability/impl/RecipeLogicSteam.java
  src/main/java/gregtech/api/cover/ICoverable.java
  src/main/java/gregtech/api/metatileentity/MetaTileEntity.java
  src/main/java/gregtech/api/metatileentity/SimpleGeneratorMetaTileEntity.java
  src/main/java/gregtech/api/metatileentity/SimpleMachineMetaTileEntity.java
  src/main/java/gregtech/api/metatileentity/TickableTileEntityBase.java
  src/main/java/gregtech/api/metatileentity/multiblock/MultiblockControllerBase.java
  src/main/java/gregtech/api/pipenet/tile/PipeCoverableImplementation.java
  src/main/java/gregtech/api/util/GTUtility.java
  src/main/java/gregtech/common/covers/CoverConveyor.java
  src/main/java/gregtech/common/covers/CoverPump.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityAirCollector.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityBlockBreaker.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityFisher.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityItemCollector.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityMagicEnergyAbsorber.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityPump.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityTeslaCoil.java
  src/main/java/gregtech/common/metatileentities/electric/multiblockpart/MetaTileEntityItemBus.java
  src/main/java/gregtech/common/metatileentities/electric/multiblockpart/MetaTileEntityRotorHolder.java
  src/main/java/gregtech/common/metatileentities/multi/MetaTileEntityCokeOvenHatch.java
  src/main/java/gregtech/common/metatileentities/multi/MetaTileEntityLargeBoiler.java
  src/main/java/gregtech/common/metatileentities/steam/boiler/SteamBoiler.java
  src/main/java/gregtech/common/metatileentities/storage/MetaTileEntityChest.java
  src/main/java/gregtech/common/metatileentities/storage/MetaTileEntityQuantumTank.java
Labels: rsr: minor, type: feature

#1558 Fix glitches for SlotWidgets inside ScrollableListWidgets
  src/main/java/gregtech/api/gui/IScissored.java
  src/main/java/gregtech/api/gui/Widget.java
  src/main/java/gregtech/api/gui/impl/ModularUIGui.java
  src/main/java/gregtech/api/gui/widgets/AbstractWidgetGroup.java
  src/main/java/gregtech/api/gui/widgets/ScrollableListWidget.java
  src/main/java/gregtech/api/gui/widgets/SlotWidget.java
Labels: rsr: revision, status: accepted, subsystem: gui, subsystem: render, type: bug

#1562 Implement ore weight tooltips
  src/main/java/gregtech/api/worldgen/config/FillerConfigUtils.java
  src/main/java/gregtech/api/worldgen/filler/FillerEntry.java
  src/main/java/gregtech/integration/jei/GTOreInfo.java
Labels: integration: JEI, rsr: revision, status: accepted, type: feature

#1568 Expose Some Fields to CraftTweaker
  src/main/java/gregtech/api/unification/material/type/IngotMaterial.java
  src/main/java/gregtech/api/unification/material/type/SolidMaterial.java
Labels: integration: CT, rsr: revision, status: accepted, type: feature

#1572 Fix 12th layer for DT
  src/main/java/gregtech/common/metatileentities/multi/electric/MetaTileEntityDistillationTower.java
Labels: rsr: revision, status: accepted, type: bug

#1573 Open Up Machine Base Texture API Method
  src/main/java/gregtech/api/metatileentity/SteamMetaTileEntity.java
  src/main/java/gregtech/api/metatileentity/TieredMetaTileEntity.java
  src/main/java/gregtech/common/metatileentities/steam/boiler/SteamBoiler.java
Labels: rsr: revision, status: accepted, subsystem: render, type: feature

#1576 Fix Tooltips in JEI Recipes
  src/main/java/gregtech/integration/jei/recipe/GTRecipeWrapper.java
Labels: integration: JEI, rsr: revision, status: accepted, subsystem: render, type: bug
