Repository GregTechCE/GregTech, pull requests merged in 2021-07, with the labels that each got.

#1681 Fix Surface block spawning
  src/main/java/gregtech/api/worldgen/populator/SurfaceBlockPopulator.java
Labels: rsr: revision, status: accepted, subsystem: worldgen, type: bug

#1686 Revert "Fix name overlaps in GUIs (#1665)"
  src/main/java/gregtech/api/gui/ModularUI.java
  src/main/java/gregtech/api/metatileentity/SimpleMachineMetaTileEntity.java
  src/main/java/gregtech/api/recipes/RecipeMap.java
  src/main/java/gregtech/api/recipes/machines/RecipeMapGroupOutput.java
Labels: integration: JEI, rsr: revision, type: bug

#1685 Fixed Magic Energy Absorber's tooltip
  src/main/resources/assets/gregtech/lang/en_us.lang
Labels: rsr: revision, subsystem: internationalization/localization

#1690 Fix consumable Integrated circuit being added to EBF recipe
  src/main/java/gregtech/loaders/oreprocessing/MaterialRecipeHandler.java
Labels: subsystem: recipes, type: bug

#1692 Fix time on Yttrium Barium Cuprate recipe
  src/main/java/gregtech/loaders/recipe/chemistry/MixerRecipes.java
Labels: subsystem: recipes, type: bug

#1683 Fix integer overflow for total fuel burn time
  src/main/java/gregtech/api/capability/IFuelInfo.java
  src/main/java/gregtech/api/capability/impl/AbstractFuelInfo.java
  src/main/java/gregtech/api/capability/impl/FluidFuelInfo.java
  src/main/java/gregtech/api/capability/impl/FuelRecipeLogic.java
  src/main/java/gregtech/api/capability/impl/ItemFuelInfo.java
  src/main/java/gregtech/common/metatileentities/multi/MetaTileEntityLargeBoiler.java
  src/main/java/gregtech/common/metatileentities/steam/boiler/SteamCoalBoiler.java
  src/main/java/gregtech/common/metatileentities/steam/boiler/SteamLavaBoiler.java
  src/main/java/gregtech/integration/theoneprobe/provider/FuelableInfoProvider.java
Labels: integration: TOP, type: bug

#1555 Allow Quantum Chests/Tanks to Keep Inventory on Break
  src/main/java/gregtech/api/block/machines/BlockMachine.java
  src/main/java/gregtech/api/metatileentity/MetaTileEntity.java
  src/main/java/gregtech/common/ClientProxy.java
  src/main/java/gregtech/common/metatileentities/storage/MetaTileEntityQuantumChest.java
  src/main/java/gregtech/common/metatileentities/storage/MetaTileEntityQuantumTank.java
  src/main/java/gregtech/loaders/recipe/MachineRecipeLoader.java
  src/main/resources/assets/gregtech/lang/en_us.lang
Labels: rsr: revision, type: feature

#1584 Add clarification tooltips to blocks in the multiblock preview
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoCategory.java
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoPage.java
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoRecipeWrapper.java
  src/main/java/gregtech/integration/jei/multiblock/infos/CrackerUnitInfo.java
  src/main/java/gregtech/integration/jei/multiblock/infos/DistillationTowerInfo.java
  src/main/java/gregtech/integration/jei/multiblock/infos/ElectricBlastFurnaceInfo.java
  src/main/java/gregtech/integration/jei/multiblock/infos/ImplosionCompressorInfo.java
  src/main/java/gregtech/integration/jei/multiblock/infos/MultiSmelterInfo.java
  src/main/java/gregtech/integration/jei/multiblock/infos/PyrolyzeOvenInfo.java
  src/main/java/gregtech/integration/jei/multiblock/infos/VacuumFreezerInfo.java
  src/main/resources/assets/gregtech/lang/en_us.lang
Labels: integration: JEI, open for discussion, rsr: revision, subsystem: gui, type: feature

#1574 Rework Some GUI Aspects
  src/main/java/gregtech/api/gui/ModularUI.java
  src/main/java/gregtech/api/gui/widgets/CycleButtonWidget.java
  src/main/java/gregtech/api/metatileentity/SimpleMachineMetaTileEntity.java
  src/main/java/gregtech/api/metatileentity/multiblock/MultiblockWithDisplayBase.java
  src/main/java/gregtech/api/recipes/machines/RecipeMapGroupOutput.java
  src/main/java/gregtech/common/covers/CoverConveyor.java
  src/main/java/gregtech/common/covers/CoverFluidFilter.java
  src/main/java/gregtech/common/covers/CoverItemFilter.java
  src/main/java/gregtech/common/covers/CoverPump.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityBatteryBuffer.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityBlockBreaker.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityCharger.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityFisher.java
  src/main/java/gregtech/common/metatileentities/electric/MetaTileEntityItemCollector.java
  src/main/java/gregtech/common/metatileentities/electric/multiblockpart/MetaTileEntityItemBus.java
  src/main/java/gregtech/common/metatileentities/storage/MetaTileEntityChest.java
  src/main/resources/assets/gregtech/lang/en_us.lang
  src/main/resources/assets/gregtech/textures/gui/widget/button_overclock.png
  src/main/resources/assets/gregtech/textures/gui/widget/button_switch_view.png
Labels: open for discussion, rsr: revision, subsystem: gui, subsystem: textures, type: bug, type: feature
