Repository GregTechCE/GregTech, pull requests merged in 2021-10, with the labels that each got.

#1718 Fix phosphor ore names
  src/main/resources/assets/gregtech/lang/en_us.lang
  src/main/resources/assets/gregtech/lang/ru_ru.lang
  src/main/resources/assets/gregtech/lang/zh_cn.lang
Labels: type: bug, subsystem: internationalization/localization

#1709 Move fetching dimensions to catch late registrations
  src/main/java/gregtech/integration/jei/GTOreCategory.java
Labels: type: bug, integration: JEI, subsystem: gui, rsr: revision

#1710 Add warning to controller if Turbine is obstructed
  src/main/java/gregtech/common/metatileentities/multi/electric/generator/MetaTileEntityLargeTurbine.java
  src/main/resources/assets/gregtech/lang/en_us.lang
Labels: status: accepted, subsystem: gui, rsr: revision

#1713 Fix multi dimensions
  src/main/java/gregtech/api/worldgen/config/WorldConfigUtils.java
Labels: status: accepted, subsystem: worldgen, rsr: revision

#1717 New algorithm for Fluid Regulator Keep Exact Mode
  src/main/java/gregtech/common/covers/CoverFluidRegulator.java
  src/test/java/gregtech/common/covers/CoverFluidRegulatorTest.java
Labels: type: bug, status: accepted, subsystem: covers, rsr: revision
