Repository GregTechCE/GregTech, pull requests merged in 2021-06, with the labels that each got.

#1583 Transfer multiblock descriptions to an info tab
  src/main/java/gregtech/api/gui/GuiTextures.java
  src/main/java/gregtech/api/render/scene/WorldSceneRenderer.java
  src/main/java/gregtech/integration/jei/GTJeiPlugin.java
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoCategory.java
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoPage.java
  src/main/java/gregtech/integration/jei/multiblock/MultiblockInfoRecipeWrapper.java
  src/main/resources/assets/gregtech/lang/en_us.lang
  src/main/resources/assets/gregtech/textures/gui/widget/information.png
Labels: integration: JEI, rsr: minor, status: accepted, subsystem: gui, type: feature

#1570 Fluid Regulator
  src/main/java/gregtech/api/util/GTFluidUtils.java
  src/main/java/gregtech/api/util/TextFormattingUtil.java
  src/main/java/gregtech/common/covers/CoverBehaviors.java
  src/main/java/gregtech/common/covers/CoverFluidRegulator.java
  src/main/java/gregtech/common/covers/CoverPump.java
  src/main/java/gregtech/common/covers/CoverRoboticArm.java
  src/main/java/gregtech/common/covers/TransferMode.java
  src/main/java/gregtech/common/items/MetaItem1.java
  src/main/java/gregtech/common/items/MetaItem2.java
  src/main/java/gregtech/common/items/MetaItems.java
  src/main/java/gregtech/loaders/recipe/ComponentRecipes.java
  src/main/java/gregtech/loaders/recipe/MachineRecipeLoader.java
  src/main/resources/assets/gregtech/lang/en_us.lang
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.ev.json
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.hv.json
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.iv.json
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.luv.json
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.lv.json
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.mv.json
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.uv.json
  src/main/resources/assets/gregtech/models/item/metaitems/fluid.regulator.zpm.json
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.ev.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.hv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.iv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.luv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.lv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.mv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.uv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluid.regulator.zpm.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluidregulator.ev.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluidregulator.hv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluidregulator.iv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluidregulator.lv.png
  src/main/resources/assets/gregtech/textures/items/metaitems/fluidregulator.mv.png
Labels: rsr: minor, status: accepted, subsystem: covers, type: feature

#1607 Make differing input/output overlays on buses/hatches
  src/main/java/gregtech/api/render/Textures.java
  src/main/java/gregtech/common/metatileentities/electric/multiblockpart/MetaTileEntityFluidHatch.java
  src/main/java/gregtech/common/metatileentities/electric/multiblockpart/MetaTileEntityItemBus.java
  src/main/resources/assets/gregtech/textures/blocks/overlay/machine/overlay_fluid_hatch_input.png
  src/main/resources/assets/gregtech/textures/blocks/overlay/machine/overlay_fluid_hatch_output.png
  src/main/resources/assets/gregtech/textures/blocks/overlay/machine/overlay_item_hatch_input.png
  src/main/resources/assets/gregtech/textures/blocks/overlay/machine/overlay_item_hatch_output.png
  src/main/resources/assets/gregtech/textures/blocks/overlay/machine/overlay_item_output.png
  src/main/resources/assets/gregtech/textures/blocks/overlay/machine/overlay_pipe_in.png
  src/main/resources/assets/gregtech/textures/blocks/overlay/machine/overlay_pipe_out.png
Labels: rsr: revision, status: accepted, subsystem: textures, type: feature

#1645 Fix wire and cable lang
  src/main/resources/assets/gregtech/lang/en_us.lang
Labels: rsr: revision, status: accepted, subsystem: internationalization/localization, type: bug

#1649 Fix a surface rock typo
  src/main/resources/assets/gregtech/worldgen/overworld/monazite_vein.json
Labels: rsr: revision, status: accepted, subsystem: worldgen, type: bug

#1652 Add isHidden to RecipeMaps to hide the default RecipeMapCategory
  src/main/java/gregtech/api/recipes/RecipeMap.java
  src/main/java/gregtech/integration/jei/GTJeiPlugin.java
Labels: status: accepted, subsystem: recipes, type: feature

#1655 Fix damage is not applied when a saw is used as shears
  src/main/java/gregtech/common/tools/ToolSaw.java
Labels: rsr: revision, status: accepted, subsystem: metatools, type: bug

#1650 Fix Electric Pump Assembler recipe using wrong cable
  src/main/java/gregtech/loaders/recipe/ComponentRecipes.java
Labels: impact: addons, impact: modpacks, rsr: revision, status: accepted, subsystem: recipes

#1659 Rename Phosphate to Tricalcium Phosphate
  src/main/resources/assets/gregtech/lang/en_us.lang
  src/main/resources/assets/gregtech/lang/ru_ru.lang
  src/main/resources/assets/gregtech/lang/zh_cn.lang
Labels: rsr: revision, status: accepted, subsystem: internationalization/localization, type: bug

#1665 Fix name overlaps in GUIs
  src/main/java/gregtech/api/gui/ModularUI.java
  src/main/java/gregtech/api/metatileentity/SimpleMachineMetaTileEntity.java
  src/main/java/gregtech/api/recipes/RecipeMap.java
  src/main/java/gregtech/api/recipes/machines/RecipeMapGroupOutput.java
Labels: rsr: revision, status: accepted, subsystem: gui, type: bug

#1666 Fix Surface Block generation issue, add logging
  src/main/java/gregtech/api/worldgen/populator/SurfaceBlockPopulator.java
  src/main/java/gregtech/api/worldgen/populator/SurfaceRockPopulator.java
Labels: rsr: revision, status: accepted, subsystem: worldgen, type: bug

#1668 Fix Ore generation Page glitches
  src/main/java/gregtech/api/GTValues.java
  src/main/java/gregtech/api/worldgen/config/WorldGenRegistry.java
  src/main/java/gregtech/integration/jei/GTOreCategory.java
  src/main/java/gregtech/integration/jei/GTOreInfo.java
Labels: integration: JEI, rsr: minor, status: accepted, subsystem: gui, type: bug

#1672 Update systems to new Recipe Properties
  src/main/java/gregtech/api/recipes/builders/FusionRecipeBuilder.java
  src/main/java/gregtech/api/recipes/builders/ImplosionRecipeBuilder.java
  src/main/java/gregtech/api/recipes/recipeproperties/FusionEUToStartProperty.java
  src/main/java/gregtech/api/recipes/recipeproperties/ImplosionExplosiveProperty.java
  src/main/java/gregtech/api/recipes/recipeproperties/RecipeProperty.java
  src/main/java/gregtech/integration/jei/recipe/GTRecipeWrapper.java
  src/main/resources/assets/gregtech/lang/en_us.lang
Labels: rsr: revision, status: accepted, subsystem: recipes, type: bug
